data/
./models/
output
assets2

action_genome
*ipynb
fasterRCNN/models/faster_rcnn_ag.pth
dataloader/*pkl
./lib/fpn
__pycache__

.env
.venv
.ruff_cache/
# .streamlit/

*.pth
*.pt
*.pkl
*.pt
*.pth
*.pt
*.pkl
*.pt

docs/_build/