./models/
output
assets2

action_genome
fasterRCNN/models/faster_rcnn_ag.pth
dataloader/*pkl
./lib/fpn
__pycache__

.env
.venv
.ruff_cache/
# .streamlit/

*.pth
*.pt
*.pkl
*.pt
*.pth
*.pt
*.pkl
*.pt

docs/_build/

# Experiment configs - ignore all except base configs
# TODO: Update to src
lib/configs/experiments/*
!lib/configs/experiments/action_genome_small.yaml

data/*
!data/README.md

temp_uploads/
TRACE/
OED_old/
test_cache/

.vscode/

src/m3sgg.egg-info/